<!-- <app-header></app-header>
<div class="page-wrapper chiller-theme toggled">
<app-sidebarnavigation></app-sidebarnavigation>
  <main class="page-content">
    <div class="container-fluid">
      <p> content update here </p>
    </div>
  </main>  
  </div> -->
  <div id="rightSideWrapper">
    <div class="ContentBox">
      <div class="container-fluid">
        <div class="row">
          <router-outlet></router-outlet>
          <div class="col-lg-3" *ngIf="isValid()" style="border-right: 1px solid #bababa; padding-top: 13px;">
            <div class="dropdown2" style="width: auto; float: right;">
              <button class="btn btn-info" style="margin-left: 10px;margin-top: -4px;background-color: #007bff;border-color: #007bff;font-size: 11px; "><i
                  class="fa fa-plus fa-2" aria-hidden="true"></i> New</button>
             
          
            </div>
          </div>
          
        </div>
      </div>
      <footer>
  
      </footer>
    </div>
  </div>





