<app-header></app-header>
<div id="sidebar">
  <div class="page-wrapper chiller-theme toggled">
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content" style="position: relative;">
        <div class="sidebar-menu">
          <ul>
            <li class="sidebar-dropdown" routerLink='/dashboard'>
              <a href="javascript:void(0)">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="sidebar-dropdown" routerLink='/product'>
              <a href="javascript:void(0)">
                <i class="fa fa-bitbucket" aria-hidden="true"></i>
                <span>Products</span>
              </a>
            </li>
            <li class="sidebar-dropdown active" routerLink='/subscriptions'>
              <a href="javascript:void(0)">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                <span>Subscriptions</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidebar-menu" style="    position: absolute;
              bottom: 33px;
              left: 0;
              width: 100%;">
          <ul>
            <li class="sidebar-dropdown" routerLink='/usermanagement'>
              <a href="javascript:void(0)">
                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 20px;"></i>
                <span>User Management</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div id="rightSideWrapper">
  <div class="ContentBox" style="display: block;">
    <main>
      <!-- Main Content  -->
      <!-- <div class="test-header">
              Page Size:
              <select (change)="onPageSizeChanged()" id="page-size">
                <option value="10" selected="">10</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
              </select>
            </div> -->
      <div class="container-fluid" style="padding: 0px;">
        <div class="col-lg-12" style="padding: 0px;color: #117a8b; text-transform: uppercase; line-height: 40px;">
          <h5>Subscription</h5>
          <div class="col-lg-12" style="border:2px solid #bababa; border-radius: 5px; padding: 10px; text-transform: none; margin-top:10px;">
            <form action="#">
              <div class="row">
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="sel1">User Profile:</label>
                    <select class="form-control form-control-sm" id="sel1" name="sellist1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="usr">User Name:</label>
                    <input type="text" class="form-control form-control-sm" id="usr">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="usr">First Name:</label>
                    <input type="text" class="form-control form-control-sm" id="usr">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="sel1">Status:</label>
                    <select class="form-control form-control-sm" id="sel1" name="sellist1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                    <label style="width:100%;"></label>
                    <button type="button" class="btn btn-info float-right" style=" margin-left: 5px;"> Search
                        <i class="fa fa-search" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px;"></i>
                      </button>
                  <button type="button" class="btn btn-info float-right" > Add User
                    <i class="fa fa-user-o" aria-hidden="true" style="color:#ffffff;margin-top: -4px;margin-left: 5px;"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="productGrid" style="position: relative;">
          <div style="height: 100%; padding-top: 63px; box-sizing: border-box; width: auto;">
            <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid" class="ag-theme-balham"
              [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
              [enableRangeSelection]="true" [pagination]="true" [defaultColDef]="defaultColDef"
              [suppressRowClickSelection]="true" [rowSelection]="rowSelection" [paginationPageSize]="paginationPageSize"
              [enableSorting]="true" [enableFilter]="true" [pagination]="true" [rowData]="rowData" [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents"></ag-grid-angular>
          </div>
          <div style="position: absolute; top: 10px; left: auto; width: 100%;">
            <input type="text" class="form-control" (input)="onQuickFilterChanged()" style="width: 30%; display: inline-block;"
              id="quickFilter" placeholder="quick filter..." />
            <label style="margin-left: 20px;"> <button (click)="onBtExport()" class="btn btn-info" style="margin-top: -7px;">Export
                to CSV</button> </label>
          </div>
        </div>

      </div>
    </main>
    <footer>
    </footer>
  </div>
</div>
